<header>
<h1>Transl8: Smart and Simple SMS Translation</h1>
</header>
<nav>
	<ul>
		<li><a href="/">Main</a></li>
		<li><a href="about">About</a></li>
		<li><a href="NothingHere">Non-existent page</a></li>
	</ul>
</nav>