<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{>title}}</title>
   	<style>
			html {
				background-color: gainsboro;
				margin: 0;
				padding: 0;
				font-family: Calibri;
			}
			body {
				width: 970px;
				margin: 2em auto;
				background-color: white;
				padding: 1em;
			}
			header {
				background-color: lightcoral;
				padding: 1em;
			}
			nav, footer {
				background-color: whitesmoke;
			}
			nav ul, footer ul{
				padding: .5em;
				margin: 0;
				list-style: none;
			}
			footer {
				margin-top: 4em;
			}
			nav ul li, footer ul li {
				display: inline-block;
				padding: .5em;
			}
			form {
				margin: 1.5em;
			}
			label {
				display: block;
			}
			legend {
				font-size: 1.5em;
			}
		</style>
</head>
<body>
	{{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>