<h1>About The App</h1>
<p>This is a sample web app that uses node.js and express to serve files and handle 404 errors.</p>
<p>It also uses express-handlebars as a templating engine, and express-session to save session data.</p>
<p>Thanks for checking it out!</p>