{{#if changes}}
	<div class="feedback">{{>feedback}}</div>
{{/if}}

<h1>Language Detail: {{{title}}}</h1>
<ul>
	<li>Translation Engine: {{{language.engine}}}</li>
	<li>Current Users: {{{language.users}}}</li>
</ul>
<form name="delete_lang" action="delete/{{{language.name}}}" method="post">
	<legend>Delete This Language</legend>
	<label><em>You will be redirected to the home page.</em></label>
	<input type="submit" value="delete"/>
</form>
<form name="update_lang" action="updateLang" method="post">
	<legend>Update Language</legend>
	<label>Language to update:</label>
	<input type="text" name="lang_name">
	<label>Updated name:</label>
	<input type="text" name="new_name"/>
	<label>Updated engine </label>
	<input type="text" name="new_engine"/>
	<input type="submit" value="update!"/>
	<label>Updated Number of Users</label>
	<input type="text" name="new_userNum"/>
</form>
